outputs
*.pyc
*.stats
venv*
.idea
*.egg-info
.DS_Store
tests/assets/validation_*
input_files
log/

*.dat
*.log
*.out

# Sonarqube files and folders
.sonar_lock
.scannerwork

.pymon
.benchmarks

.coverage*
htmlcov/

resources/private
build/
vendor/
benchmarking/logs
benchmarking/*.csv
benchmarking/*.yaml
benchmarking/*.yml
benchmarking/results
tests/test_benchmarking/logs
sandbox
external_tools/cvxopt
external_tools/SuiteSparse