outputs
output
*.pyc
*.stats
venv*
.venv
.idea
.vscode
*.egg-info
.DS_Store
tests/assets/validation_*
input_files
log/
.pytest_cache/

*.dat
*.log
*.out

# Sonarqube files and folders
.sonar_lock
.scannerwork

.pymon
.benchmarks

.coverage*
htmlcov/

resources/private
build/
vendor/
benchmarking/*.csv
benchmarking/*.yaml
benchmarking/*.yml
benchmarking/input/logs
benchmarking/results
tests/test_benchmarking/logs
sandbox
dist/