click==8.1.8
hyperopt==0.2.7
lxml==5.3.0
matplotlib==3.9.4
networkx==3.2.1
numpy==1.26.4
pandas==2.2.3
pendulum==3.0.0
pydantic==2.10.6
python-dotenv==1.0.1
python-multipart==0.0.12
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
scipy==1.13.1
statistics==1.0.3.5
tqdm==4.67.1
xmltodict==0.13.0
prosimos==2.0.6
extraneous-activity-delays==2.2.1
openxes-cli-py==0.1.15
pix-framework==0.13.17
log-distance-measures==2.0.2
sphinx-rtd-theme
